<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.lischenko_dev.fastmessenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_beta"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MaterialsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_materials_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatInfoActivity"
            android:theme="@style/ChatInfoTheme" />

        <service
            android:name=".service.LongPollService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.OnlineService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AdditionalActivity"
            android:configChanges="orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/fragment_settings" />
        <activity android:name=".PhotoViewActivity"></activity>
    </application>

</manifest>
